jade/activity-graph.jade
doctype
html(lang='en')
  head
    title Ark
    meta(charset='utf-8' name="viewport" content="width=device-width; initial-scale=1.0, user-scalable=no")
    link(rel="stylesheet", href="css/main.min.css" media)
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato")
  body
    include mixins/mixins.jade
    .ark-wrap
      include modules/header.jade
      section 
        .ark-wrap
          .ark-section-title Latest Transactions
          .ark-block-text.ark-offset-bottom Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
          .ark-section-title Legent
          .ark-block-text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          a.ark-btn.ark-yellow-btn(href="#") Acoount
          a.ark-btn.ark-blue-btn(href="#") Block
          a.ark-btn.ark-magenta-btn(href="#") Tx
          a.ark-btn.ark-red-btn(href="#") Debit
          .ark-legent-block.ark-flex-between
            .ark-legent-graph
              .ark-legent-label Updated every 10 seconds.
              img(src="images/graph1.png")
              button.ark-btn-camera Reset Camera
              .ark-tooltip
                .ark-tooltip-title 16785456
                ul.ark-tooltip-data
                  li.blue 12142353345346
                  li.cyan 12142353345346
            .ark-legent-statistics
              .ark-statistics-header Statistics
              ul.ark-statistics-item-data
                +ark-statistics-item("Txs", "0")
                +ark-statistics-item("Volume", "0 ARK")
                +ark-statistics-item("Blocks", "5")
                +ark-statistics-item("Blocks", "5")
                +ark-statistics-item("Timespan", "a minute")
                +ark-statistics-item("Accounts", "7")
          .ark-section-title Navigation
          .ark-block-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    include modules/footer.jade

app/activity-graph.html
<!DOCTYPE html><html lang="en"><head><title>Ark</title><meta charset="utf-8" name="viewport" content="width=device-width; initial-scale=1.0, user-scalable=no"><link rel="stylesheet" href="css/main.min.css" media><link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato"></head><body><div class="ark-wrap"><header><a href="#" class="ark-logo"></a><div class="ark-header-items ark-flex-center"><div class="ark-search-wrap"><input type="search" placeholder="Find a block, transaction..." class="ark-text-field ark-search-field"><button type="submit" class="ark-search-btn"></button></div><nav class="ark-flex-center"><ul><li class="ark-menu-item"><div href="#" class="ark-dropdown-link"><span class="ark-selected-val">ARK</span></div><ul class="ark-dropdown"><li><a href="#">ARK</a></li><li><a href="#">BTC</a></li><li><a href="#">EUR</a></li><li><a href="#">PLN</a></li><li><a href="#">USD</a></li></ul></li><li class="ark-menu-item"><div href="#" class="ark-dropdown-link">Tools</div><ul class="ark-dropdown"><li><a href="#">Activity Graph</a></li><li><a href="#">Delegate Monitor</a></li><li><a href="#">Network Monitor</a></li><li><a href="#">Snapshots</a></li></ul></li></ul></nav></div><div class="ark-menu-btn"></div></header><div class="ark-header-data ark-flex-center"><div class="ark-data-item"><span class="ark-item-index"><span class="ark-index-title"> Height:</span><span class="ark-index-data">2315245</span></span><span class="ark-item-index"><span class="ark-index-title"> Nethash:</span><span class="ark-index-data">2315245</span></span></div><div class="ark-data-item"><span class="ark-item-index"><span class="ark-index-title"> Supply:</span><span class="ark-index-data">123,234,234</span></span><span class="ark-item-index"><span class="ark-index-title"> ARK/BTC:</span><span class="ark-index-data">0.0002434</span></span></div><div class="ark-data-item"><span class="ark-item-index"><span class="ark-index-title"> ARK/USD:</span><span class="ark-index-data">1.2423</span></span></div></div><section> <div class="ark-wrap"><div class="ark-section-title">Latest Transactions</div><div class="ark-block-text ark-offset-bottom">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</div><div class="ark-section-title">Legent</div><div class="ark-block-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div><a href="#" class="ark-btn ark-yellow-btn">Acoount</a><a href="#" class="ark-btn ark-blue-btn">Block</a><a href="#" class="ark-btn ark-magenta-btn">Tx</a><a href="#" class="ark-btn ark-red-btn">Debit</a><div class="ark-legent-block ark-flex-between"><div class="ark-legent-graph"><div class="ark-legent-label">Updated every 10 seconds.</div><img src="images/graph1.png"><button class="ark-btn-camera">Reset Camera</button><div class="ark-tooltip"><div class="ark-tooltip-title">16785456</div><ul class="ark-tooltip-data"><li class="blue">12142353345346</li><li class="cyan">12142353345346</li></ul></div></div><div class="ark-legent-statistics"><div class="ark-statistics-header">Statistics</div><ul class="ark-statistics-item-data"><li class="ark-flex ark-flex-between"><div class="title">Txs</div><div class="count">0</div></li><li class="ark-flex ark-flex-between"><div class="title">Volume</div><div class="count">0 ARK</div></li><li class="ark-flex ark-flex-between"><div class="title">Blocks</div><div class="count">5</div></li><li class="ark-flex ark-flex-between"><div class="title">Blocks</div><div class="count">5</div></li><li class="ark-flex ark-flex-between"><div class="title">Timespan</div><div class="count">a minute</div></li><li class="ark-flex ark-flex-between"><div class="title">Accounts</div><div class="count">7</div></li></ul></div></div><div class="ark-section-title">Navigation</div><div class="ark-block-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div></div></section></div><footer><div class="ark-wrap"><div class="ark-flex ark-flex-between"><div class="ark-copyright">@ ark.io | 2017. All rights reserved</div><ul class="ark-social"><li class="fb"><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a></li><li class="tw"><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li><li class="bt"><a href="#"><i aria-hidden="true" class="fa fa-bitcoin"></i></a></li><li class="sl"><a href="#"><i aria-hidden="true" class="fa fa-slack"></i></a></li></ul></div></div></footer><div class="ark-scroll-top"><script src="js/jquery-3.2.1.min.js"></script><script src="js/app.js"></script><script src="https://use.fontawesome.com/a8b73a9922.js"></script></div></body></html>
