jade/address.jade
doctype
html(lang='en')
  head
    title Ark
    meta(charset='utf-8' name="viewport" content="width=device-width; initial-scale=1.0, user-scalable=no")
    link(rel="stylesheet", href="css/font-awesome.min.css" media)
    link(rel="stylesheet", href="css/main.min.css" media)
  body
    include mixins/mixins.jade
    .ark-wrap
      include modules/header.jade
      section
        .ark-wrap
          .ark-section-title Address Summury
          .ark-address-summary
            .ark-summary
              .ark-summary-item.ark-flex-between
                span.ark-summary-title Address
                span.ark-summary-data Asdfnsajkddjfgbdjkfgbdbjhabdfhjfbs
              .ark-summary-item.ark-flex-between
                span.ark-summary-title Public Key
                span.ark-summary-data Asdfnsajkddjfgbdjkfgbdbjhabdfhjfbs
              .ark-summary-item.ark-flex-between
                span.ark-summary-title Total Balance
                span.ark-summary-data Asdfnsajkddjfgbdjkfgbdbjhabdfhjfbs
              .ark-summary-item.ark-flex-between
                span.ark-summary-title Transactions
                span.ark-summary-data
                  span.ark-transaction-plus 227
                  span.ark-transaction-minus 41
            .ark-qr
              img(src="images/qr-code.png")
              .ark-qr-message (Scan for Address)

          .ark-section-title Transactions
          .ark-tab-header
            .ark-tab-header-item.active(data-tab-link="#delegates-table") Active Delegates
            .ark-tab-header-item(data-tab-link="#sent-table") Sent
            .ark-tab-header-item(data-tab-link="#received-table") Received
          .ark-tab-body
            .ark-tab-item.active#delegates-table
              table.ark-table
                thead
                  tr
                    th Transaction
                    th Date
                    th Sender
                    th Recipient
                    th Amount
                    th Fee
                    th Confirmations
                tbody
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
            .ark-tab-item#sent-table
              table.ark-table
                 thead
                   tr
                     th Transaction
                     th Date
                     th Sender
                     th Recipient
                     th Amount
                     th Fee
                     th Confirmations
                 tbody
                    +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                    +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                    +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                    +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
            .ark-tab-item#received-table
              table.ark-table
                thead
                  tr
                    th Transaction
                    th Date
                    th Sender
                    th Recipient
                    th Amount
                    th Fee
                    th Confirmations
                tbody
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
                   +ark-transactions-address-table-item("e790567950p0fgjkfghk", "2017/08/13 18.30:12", "jarunik", "ANm...8zgf", "1.5345365 ARK", "0.1 ARK", "Well Confirmed")
    include modules/footer.jade

app/address.html
<!DOCTYPE html><html lang="en"><head><title>Ark</title><meta charset="utf-8" name="viewport" content="width=device-width; initial-scale=1.0, user-scalable=no"><link rel="stylesheet" href="css/font-awesome.min.css" media><link rel="stylesheet" href="css/main.min.css" media></head><body><div class="ark-wrap"><header><a href="#" class="ark-logo"></a><div class="ark-header-items ark-flex-center"><div class="ark-search-wrap"><input type="search" placeholder="Find a block, transaction..." class="ark-text-field ark-search-field"><button type="submit" class="ark-search-btn"></button></div><nav class="ark-flex-center"><ul><li class="ark-menu-item"><div href="#" class="ark-dropdown-link"><span class="ark-selected-val">ARK</span></div><ul class="ark-dropdown"><li><a href="#">ARK</a></li><li><a href="#">BTC</a></li><li><a href="#">EUR</a></li><li><a href="#">PLN</a></li><li><a href="#">USD</a></li></ul></li><li class="ark-menu-item"><div href="#" class="ark-dropdown-link">Tools</div><ul class="ark-dropdown"><li><a href="#">Activity Graph</a></li><li><a href="#">Delegate Monitor</a></li><li><a href="#">Network Monitor</a></li><li><a href="#">Snapshots</a></li></ul></li></ul></nav></div><div class="ark-menu-btn"></div></header><div class="ark-header-data ark-flex-center"><div class="ark-data-item"><span class="ark-item-index"><span class="ark-index-title"> Height:</span><span class="ark-index-data">2315245</span></span><span class="ark-item-index"><span class="ark-index-title"> Nethash:</span><span class="ark-index-data">2315245</span></span></div><div class="ark-data-item"><span class="ark-item-index"><span class="ark-index-title"> Supply:</span><span class="ark-index-data">123,234,234</span></span><span class="ark-item-index"><span class="ark-index-title"> ARK/BTC:</span><span class="ark-index-data">0.0002434</span></span></div><div class="ark-data-item"><span class="ark-item-index"><span class="ark-index-title"> ARK/USD:</span><span class="ark-index-data">1.2423</span></span></div></div><section><div class="ark-wrap"><div class="ark-section-title">Address Summury</div><div class="ark-address-summary"><div class="ark-summary"><div class="ark-summary-item ark-flex-between"><span class="ark-summary-title">Address</span><span class="ark-summary-data">Asdfnsajkddjfgbdjkfgbdbjhabdfhjfbs</span></div><div class="ark-summary-item ark-flex-between"><span class="ark-summary-title">Public Key</span><span class="ark-summary-data">Asdfnsajkddjfgbdjkfgbdbjhabdfhjfbs</span></div><div class="ark-summary-item ark-flex-between"><span class="ark-summary-title">Total Balance</span><span class="ark-summary-data">Asdfnsajkddjfgbdjkfgbdbjhabdfhjfbs</span></div><div class="ark-summary-item ark-flex-between"><span class="ark-summary-title">Transactions</span><span class="ark-summary-data"><span class="ark-transaction-plus">227</span><span class="ark-transaction-minus">41</span></span></div></div><div class="ark-qr"><img src="images/qr-code.png"><div class="ark-qr-message">(Scan for Address)</div></div></div><div class="ark-section-title">Transactions</div><div class="ark-tab-header"><div data-tab-link="#delegates-table" class="ark-tab-header-item active">Active Delegates</div><div data-tab-link="#sent-table" class="ark-tab-header-item">Sent</div><div data-tab-link="#received-table" class="ark-tab-header-item">Received</div></div><div class="ark-tab-body"><div id="delegates-table" class="ark-tab-item active"><table class="ark-table"><thead><tr><th>Transaction</th><th>Date</th><th>Sender</th><th>Recipient</th><th>Amount</th><th>Fee</th><th>Confirmations</th></tr></thead><tbody><tr><td class="ark-transaction"><a href="#">e790567950p0fgjkfghk</a></td><td>2017/08/13 18.30:12</td><td class="ark-blue-text"><a href="#">jarunik</a></td><td class="ark-blue-text"><a href="#">ANm...8zgf</a></td><td class="ark-amount">1.5345365 ARK</td><td>0.1 ARK</td><td>Well Confirmed</td></tr><tr><td class="ark-transaction"><a href="#">e790567950p0fgjkfghk</a></td><td>2017/08/13 18.30:12</td><td class="ark-blue-text"><a href="#">jarunik</a></td><td class="ark-blue-text"><a href="#">ANm...8zgf</a></td><td class="ark-amount">1.5345365 ARK</td><td>0.1 ARK</td><td>Well Confirmed</td></tr><tr><td class="ark-transaction"><a href="#">e790567950p0fgjkfghk</a></td><td>2017/08/13 18.30:12</td><td class="ark-blue-text"><a href="#">jarunik</a></td><td class="ark-blue-text"><a href="#">ANm...8zgf</a></td><td class="ark-amount">1.5345365 ARK</td><td>0.1 ARK</td><td>Well Confirmed</td></tr><tr><td class="ark-transaction"><a href="#">e790567950p0fgjkfghk</a></td><td>2017/08/13 18.30:12</td><td class="ark-blue-text"><a href="#">jarunik</a></td><td class="ark-blue-text"><a href="#">ANm...8zgf</a></td><td class="ark-amount">1.5345365 ARK</td><td>0.1 ARK</td><td>Well Confirmed</td></tr><tr><td class="ark-transaction"><a href="#">e790567950p0fgjkfghk</a></td><td>2017/08/13 18.30:12</td><td class="ark-blue-text"><a href="#">jarunik</a></td><td class="ark-blue-text"><a href="#">ANm...8zgf</a></td><td class="ark-amount">1.5345365 ARK</td><td>0.1 ARK</td><td>Well Confirmed</td></tr><tr><td class="ark-transaction"><a href="#">e790567950p0fgjkfghk</a></td><td>2017/08/13 18.30:12</td><td class="ark-blue-text"><a href="#">jarunik</a></td><td class="ark-blue-text"><a href="#">ANm...8zgf</a></td><td class="ark-amount">1.5345365 ARK</td><td>0.1 ARK</td><td>Well Confirmed</td></tr><tr><td class="ark-transaction"><a href="#">e790567950p0fgjkfghk</a></td><td>2017/08/13 18.30:12</td><td class="ark-blue-text"><a href="#">jarunik</a></td><td class="ark-blue-text"><a href="#">ANm...8zgf</a></td><td class="ark-amount">1.5345365 ARK</td><td>0.1 ARK</td><td>Well Confirmed</td></tr><tr><td class="ark-transaction"><a href="#">e790567950p0fgjkfghk</a></td><td>2017/08/13 18.30:12</td><td class="ark-blue-text"><a href="#">jarunik</a></td><td class="ark-blue-text"><a href="#">ANm...8zgf</a></td><td class="ark-amount">1.5345365 ARK</td><td>0.1 ARK</td><td>Well Confirmed</td></tr><tr><td class="ark-transaction"><a href="#">e790567950p0fgjkfghk</a></td><td>2017/08/13 18.30:12</td><td class="ark-blue-text"><a href="#">jarunik</a></td><td class="ark-blue-text"><a href="#">ANm...8zgf</a></td><td class="ark-amount">1.5345365 ARK</td><td>0.1 ARK</td><td>Well Confirmed</td></tr><tr><td class="ark-transaction"><a href="#">e790567950p0fgjkfghk</a></td><td>2017/08/13 18.30:12</td><td class="ark-blue-text"><a href="#">jarunik</a></td><td class="ark-blue-text"><a href="#">ANm...8zgf</a></td><td class="ark-amount">1.5345365 ARK</td><td>0.1 ARK</td><td>Well Confirmed</td></tr><tr><td class="ark-transaction"><a href="#">e790567950p0fgjkfghk</a></td><td>2017/08/13 18.30:12</td><td class="ark-blue-text"><a href="#">jarunik</a></td><td class="ark-blue-text"><a href="#">ANm...8zgf</a></td><td class="ark-amount">1.5345365 ARK</td><td>0.1 ARK</td><td>Well Confirmed</td></tr><tr><td class="ark-transaction"><a href="#">e790567950p0fgjkfghk</a></td><td>2017/08/13 18.30:12</td><td class="ark-blue-text"><a href="#">jarunik</a></td><td class="ark-blue-text"><a href="#">ANm...8zgf</a></td><td class="ark-amount">1.5345365 ARK</td><td>0.1 ARK</td><td>Well Confirmed</td></tr><tr><td class="ark-transaction"><a href="#">e790567950p0fgjkfghk</a></td><td>2017/08/13 18.30:12</td><td class="ark-blue-text"><a href="#">jarunik</a></td><td class="ark-blue-text"><a href="#">ANm...8zgf</a></td><td class="ark-amount">1.5345365 ARK</td><td>0.1 ARK</td><td>Well Confirmed</td></tr><tr><td class="ark-transaction"><a href="#">e790567950p0fgjkfghk</a></td><td>2017/08/13 18.30:12</td><td class="ark-blue-text"><a href="#">jarunik</a></td><td class="ark-blue-text"><a href="#">ANm...8zgf</a></td><td class="ark-amount">1.5345365 ARK</td><td>0.1 ARK</td><td>Well Confirmed</td></tr><tr><td class="ark-transaction"><a href="#">e790567950p0fgjkfghk</a></td><td>2017/08/13 18.30:12</td><td class="ark-blue-text"><a href="#">jarunik</a></td><td class="ark-blue-text"><a href="#">ANm...8zgf</a></td><td class="ark-amount">1.5345365 ARK</td><td>0.1 ARK</td><td>Well Confirmed</td></tr></tbody></table></div><div id="sent-table" class="ark-tab-item"><table class="ark-table"><thead><tr><th>Transaction</th><th>Date</th><th>Sender</th><th>Recipient</th><th>Amount</th><th>Fee</th><th>Confirmations</th></tr></thead><tbody><tr><td class="ark-transaction"><a href="#">e790567950p0fgjkfghk</a></td><td>2017/08/13 18.30:12</td><td class="ark-blue-text"><a href="#">jarunik</a></td><td class="ark-blue-text"><a href="#">ANm...8zgf</a></td><td class="ark-amount">1.5345365 ARK</td><td>0.1 ARK</td><td>Well Confirmed</td></tr><tr><td class="ark-transaction"><a href="#">e790567950p0fgjkfghk</a></td><td>2017/08/13 18.30:12</td><td class="ark-blue-text"><a href="#">jarunik</a></td><td class="ark-blue-text"><a href="#">ANm...8zgf</a></td><td class="ark-amount">1.5345365 ARK</td><td>0.1 ARK</td><td>Well Confirmed</td></tr><tr><td class="ark-transaction"><a href="#">e790567950p0fgjkfghk</a></td><td>2017/08/13 18.30:12</td><td class="ark-blue-text"><a href="#">jarunik</a></td><td class="ark-blue-text"><a href="#">ANm...8zgf</a></td><td class="ark-amount">1.5345365 ARK</td><td>0.1 ARK</td><td>Well Confirmed</td></tr><tr><td class="ark-transaction"><a href="#">e790567950p0fgjkfghk</a></td><td>2017/08/13 18.30:12</td><td class="ark-blue-text"><a href="#">jarunik</a></td><td class="ark-blue-text"><a href="#">ANm...8zgf</a></td><td class="ark-amount">1.5345365 ARK</td><td>0.1 ARK</td><td>Well Confirmed</td></tr></tbody></table></div><div id="received-table" class="ark-tab-item"><table class="ark-table"><thead><tr><th>Transaction</th><th>Date</th><th>Sender</th><th>Recipient</th><th>Amount</th><th>Fee</th><th>Confirmations</th></tr></thead><tbody><tr><td class="ark-transaction"><a href="#">e790567950p0fgjkfghk</a></td><td>2017/08/13 18.30:12</td><td class="ark-blue-text"><a href="#">jarunik</a></td><td class="ark-blue-text"><a href="#">ANm...8zgf</a></td><td class="ark-amount">1.5345365 ARK</td><td>0.1 ARK</td><td>Well Confirmed</td></tr><tr><td class="ark-transaction"><a href="#">e790567950p0fgjkfghk</a></td><td>2017/08/13 18.30:12</td><td class="ark-blue-text"><a href="#">jarunik</a></td><td class="ark-blue-text"><a href="#">ANm...8zgf</a></td><td class="ark-amount">1.5345365 ARK</td><td>0.1 ARK</td><td>Well Confirmed</td></tr><tr><td class="ark-transaction"><a href="#">e790567950p0fgjkfghk</a></td><td>2017/08/13 18.30:12</td><td class="ark-blue-text"><a href="#">jarunik</a></td><td class="ark-blue-text"><a href="#">ANm...8zgf</a></td><td class="ark-amount">1.5345365 ARK</td><td>0.1 ARK</td><td>Well Confirmed</td></tr><tr><td class="ark-transaction"><a href="#">e790567950p0fgjkfghk</a></td><td>2017/08/13 18.30:12</td><td class="ark-blue-text"><a href="#">jarunik</a></td><td class="ark-blue-text"><a href="#">ANm...8zgf</a></td><td class="ark-amount">1.5345365 ARK</td><td>0.1 ARK</td><td>Well Confirmed</td></tr><tr><td class="ark-transaction"><a href="#">e790567950p0fgjkfghk</a></td><td>2017/08/13 18.30:12</td><td class="ark-blue-text"><a href="#">jarunik</a></td><td class="ark-blue-text"><a href="#">ANm...8zgf</a></td><td class="ark-amount">1.5345365 ARK</td><td>0.1 ARK</td><td>Well Confirmed</td></tr><tr><td class="ark-transaction"><a href="#">e790567950p0fgjkfghk</a></td><td>2017/08/13 18.30:12</td><td class="ark-blue-text"><a href="#">jarunik</a></td><td class="ark-blue-text"><a href="#">ANm...8zgf</a></td><td class="ark-amount">1.5345365 ARK</td><td>0.1 ARK</td><td>Well Confirmed</td></tr><tr><td class="ark-transaction"><a href="#">e790567950p0fgjkfghk</a></td><td>2017/08/13 18.30:12</td><td class="ark-blue-text"><a href="#">jarunik</a></td><td class="ark-blue-text"><a href="#">ANm...8zgf</a></td><td class="ark-amount">1.5345365 ARK</td><td>0.1 ARK</td><td>Well Confirmed</td></tr><tr><td class="ark-transaction"><a href="#">e790567950p0fgjkfghk</a></td><td>2017/08/13 18.30:12</td><td class="ark-blue-text"><a href="#">jarunik</a></td><td class="ark-blue-text"><a href="#">ANm...8zgf</a></td><td class="ark-amount">1.5345365 ARK</td><td>0.1 ARK</td><td>Well Confirmed</td></tr></tbody></table></div></div></div></section></div><footer><div class="ark-wrap"><div class="ark-flex ark-flex-between"><div class="ark-copyright">@ ark.io | 2017. All rights reserved</div><ul class="ark-social"><li class="fb"><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a></li><li class="tw"><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li><li class="bt"><a href="#"><i aria-hidden="true" class="fa fa-bitcoin"></i></a></li><li class="sl"><a href="#"><i aria-hidden="true" class="fa fa-slack"></i></a></li></ul></div></div></footer><div class="ark-scroll-top"><script src="js/jquery-3.2.1.min.js"></script><script src="js/app.js"></script><script src="https://use.fontawesome.com/a8b73a9922.js"></script></div></body></html>
