app/explorer.html
<!DOCTYPE html><html lang="en"><head><title>Ark</title><meta charset="utf-8" name="viewport" content="width=device-width; initial-scale=1.0, user-scalable=no"><link rel="stylesheet" href="css/font-awesome.min.css" media><link rel="stylesheet" href="css/main.min.css" media></head><body><div class="ark-wrap"><header><a href="#" class="ark-logo"></a><div class="ark-header-items ark-flex-center"><div class="ark-search-wrap"><input type="search" placeholder="Find a block, transaction..." class="ark-text-field ark-search-field"><button type="submit" class="ark-search-btn"></button></div><nav class="ark-flex-center"><ul><li class="ark-menu-item"><div href="#" class="ark-dropdown-link"><span class="ark-selected-val">ARK</span></div><ul class="ark-dropdown"><li><a href="#">ARK</a></li><li><a href="#">BTC</a></li><li><a href="#">EUR</a></li><li><a href="#">PLN</a></li><li><a href="#">USD</a></li></ul></li><li class="ark-menu-item"><div href="#" class="ark-dropdown-link">Tools</div><ul class="ark-dropdown"><li><a href="#">Activity Graph</a></li><li><a href="#">Delegate Monitor</a></li><li><a href="#">Network Monitor</a></li><li><a href="#">Snapshots</a></li></ul></li></ul></nav></div><div class="ark-menu-btn"></div></header><div class="ark-header-data ark-flex-center"><div class="ark-data-item"><span class="ark-item-index"><span class="ark-index-title"> Height:</span><span class="ark-index-data">2315245</span></span><span class="ark-item-index"><span class="ark-index-title"> Nethash:</span><span class="ark-index-data">2315245</span></span></div><div class="ark-data-item"><span class="ark-item-index"><span class="ark-index-title"> Supply:</span><span class="ark-index-data">123,234,234</span></span><span class="ark-item-index"><span class="ark-index-title"> ARK/BTC:</span><span class="ark-index-data">0.0002434</span></span></div><div class="ark-data-item"><span class="ark-item-index"><span class="ark-index-title"> ARK/USD:</span><span class="ark-index-data">1.2423</span></span></div></div><section><div class="ark-wrap"><div class="ark-section-title">Latest Transactions</div><table class="ark-table"><thead><tr><th>ID</th><th>Timestamp</th><th>Sender</th><th>Recipient </th><th>Smartbridge</th><th>Amount(ARK)</th><th>Fee(ARK)</th></tr></thead><tbody><tr><td><a href="#">104.131.128.207</a></td><td>2017/07/09 17:41:34</td><td><a href="#">AL4CX...AMQps</a></td><td><a href="#">AL4CX...AMQps</a></td><td>Doom voters payment</td><td>2</td><td>0.1</td></tr><tr><td><a href="#">104.131.128.207</a></td><td>2017/07/09 17:41:34</td><td><a href="#">AL4CX...AMQps</a></td><td><a href="#">AL4CX...AMQps</a></td><td>Doom voters payment</td><td>2</td><td>0.1</td></tr><tr><td><a href="#">104.131.128.207</a></td><td>2017/07/09 17:41:34</td><td><a href="#">AL4CX...AMQps</a></td><td><a href="#">AL4CX...AMQps</a></td><td>Doom voters payment</td><td>2</td><td>0.1</td></tr><tr><td><a href="#">104.131.128.207</a></td><td>2017/07/09 17:41:34</td><td><a href="#">AL4CX...AMQps</a></td><td><a href="#">AL4CX...AMQps</a></td><td>Doom voters payment</td><td>2</td><td>0.1</td></tr><tr><td><a href="#">104.131.128.207</a></td><td>2017/07/09 17:41:34</td><td><a href="#">AL4CX...AMQps</a></td><td><a href="#">AL4CX...AMQps</a></td><td>Doom voters payment</td><td>2</td><td>0.1</td></tr><tr><td><a href="#">104.131.128.207</a></td><td>2017/07/09 17:41:34</td><td><a href="#">AL4CX...AMQps</a></td><td><a href="#">AL4CX...AMQps</a></td><td>Doom voters payment</td><td>2</td><td>0.1</td></tr><tr><td><a href="#">104.131.128.207</a></td><td>2017/07/09 17:41:34</td><td><a href="#">AL4CX...AMQps</a></td><td><a href="#">AL4CX...AMQps</a></td><td>Doom voters payment</td><td>2</td><td>0.1</td></tr><tr><td><a href="#">104.131.128.207</a></td><td>2017/07/09 17:41:34</td><td><a href="#">AL4CX...AMQps</a></td><td><a href="#">AL4CX...AMQps</a></td><td>Doom voters payment</td><td>2</td><td>0.1</td></tr><tr><td><a href="#">104.131.128.207</a></td><td>2017/07/09 17:41:34</td><td><a href="#">AL4CX...AMQps</a></td><td><a href="#">AL4CX...AMQps</a></td><td>Doom voters payment</td><td>2</td><td>0.1</td></tr><tr><td><a href="#">104.131.128.207</a></td><td>2017/07/09 17:41:34</td><td><a href="#">AL4CX...AMQps</a></td><td><a href="#">AL4CX...AMQps</a></td><td>Doom voters payment</td><td>2</td><td>0.1</td></tr></tbody></table><div class="ark-section-title">Latest Blocks</div><table class="ark-table"><thead><tr><th>ID</th><th>Height</th><th>Timestamp</th><th>Transactions</th><th>Generated by</th><th>Amount(ARK)</th><th>Forged(ARK)</th></tr></thead><tbody><tr><td><a href="#">345678889999</a></td><td>151456</td><td>2017/07/09 17:41:34</td><td>0</td><td><a href="#">natalie</a></td><td>0</td><td>2</td></tr><tr><td><a href="#">345678889999</a></td><td>151456</td><td>2017/07/09 17:41:34</td><td>0</td><td><a href="#">natalie</a></td><td>0</td><td>2</td></tr><tr><td><a href="#">345678889999</a></td><td>151456</td><td>2017/07/09 17:41:34</td><td>0</td><td><a href="#">natalie</a></td><td>0</td><td>2</td></tr><tr><td><a href="#">345678889999</a></td><td>151456</td><td>2017/07/09 17:41:34</td><td>0</td><td><a href="#">natalie</a></td><td>0</td><td>2</td></tr><tr><td><a href="#">345678889999</a></td><td>151456</td><td>2017/07/09 17:41:34</td><td>0</td><td><a href="#">natalie</a></td><td>0</td><td>2</td></tr><tr><td><a href="#">345678889999</a></td><td>151456</td><td>2017/07/09 17:41:34</td><td>0</td><td><a href="#">natalie</a></td><td>0</td><td>2</td></tr><tr><td><a href="#">345678889999</a></td><td>151456</td><td>2017/07/09 17:41:34</td><td>0</td><td><a href="#">natalie</a></td><td>0</td><td>2</td></tr><tr><td><a href="#">345678889999</a></td><td>151456</td><td>2017/07/09 17:41:34</td><td>0</td><td><a href="#">natalie</a></td><td>0</td><td>2</td></tr><tr><td><a href="#">345678889999</a></td><td>151456</td><td>2017/07/09 17:41:34</td><td>0</td><td><a href="#">natalie</a></td><td>0</td><td>2</td></tr></tbody></table><div class="ark-shadowbtn-wrap"><button type="button" class="ark-shadow-btn">See All Blocks</button><div class="ark-shadowfor-btn"></div></div></div></section></div><footer><div class="ark-wrap"><div class="ark-flex ark-flex-between"><div class="ark-copyright">@ ark.io | 2017. All rights reserved</div><ul class="ark-social"><li class="fb"><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a></li><li class="tw"><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li><li class="bt"><a href="#"><i aria-hidden="true" class="fa fa-bitcoin"></i></a></li><li class="sl"><a href="#"><i aria-hidden="true" class="fa fa-slack"></i></a></li></ul></div></div></footer><div class="ark-scroll-top"><script src="js/jquery-3.2.1.min.js"></script><script src="js/app.js"></script><script src="https://use.fontawesome.com/a8b73a9922.js"></script></div></body></html>

jade/explorer.jade
doctype
html(lang='en')
  head
    title Ark
    meta(charset='utf-8' name="viewport" content="width=device-width; initial-scale=1.0, user-scalable=no")
    link(rel="stylesheet", href="css/font-awesome.min.css" media)
    link(rel="stylesheet", href="css/main.min.css" media)
  body
    include mixins/mixins.jade
    .ark-wrap
      include modules/header.jade
      section
        .ark-wrap
          .ark-section-title Latest Transactions
          table.ark-table
            thead
              tr
                th ID
                th Timestamp
                th Sender
                th Recipient 
                th Smartbridge
                th Amount(ARK)
                th Fee(ARK)
            tbody
               +ark-transactions-table-item("104.131.128.207", "2017/07/09 17:41:34", "AL4CX...AMQps", "AL4CX...AMQps", "Doom voters payment", "2", "0.1")
               +ark-transactions-table-item("104.131.128.207", "2017/07/09 17:41:34", "AL4CX...AMQps", "AL4CX...AMQps", "Doom voters payment", "2", "0.1")
               +ark-transactions-table-item("104.131.128.207", "2017/07/09 17:41:34", "AL4CX...AMQps", "AL4CX...AMQps", "Doom voters payment", "2", "0.1")
               +ark-transactions-table-item("104.131.128.207", "2017/07/09 17:41:34", "AL4CX...AMQps", "AL4CX...AMQps", "Doom voters payment", "2", "0.1")
               +ark-transactions-table-item("104.131.128.207", "2017/07/09 17:41:34", "AL4CX...AMQps", "AL4CX...AMQps", "Doom voters payment", "2", "0.1")
               +ark-transactions-table-item("104.131.128.207", "2017/07/09 17:41:34", "AL4CX...AMQps", "AL4CX...AMQps", "Doom voters payment", "2", "0.1")
               +ark-transactions-table-item("104.131.128.207", "2017/07/09 17:41:34", "AL4CX...AMQps", "AL4CX...AMQps", "Doom voters payment", "2", "0.1")
               +ark-transactions-table-item("104.131.128.207", "2017/07/09 17:41:34", "AL4CX...AMQps", "AL4CX...AMQps", "Doom voters payment", "2", "0.1")
               +ark-transactions-table-item("104.131.128.207", "2017/07/09 17:41:34", "AL4CX...AMQps", "AL4CX...AMQps", "Doom voters payment", "2", "0.1")
               +ark-transactions-table-item("104.131.128.207", "2017/07/09 17:41:34", "AL4CX...AMQps", "AL4CX...AMQps", "Doom voters payment", "2", "0.1")
          .ark-section-title Latest Blocks
          table.ark-table
            thead
              tr
                th ID
                th Height
                th Timestamp
                th Transactions
                th Generated by
                th Amount(ARK)
                th Forged(ARK)
            tbody
               +ark-blocks-table-item("345678889999", "151456", "2017/07/09 17:41:34", "0", "natalie", "0", "2")
               +ark-blocks-table-item("345678889999", "151456", "2017/07/09 17:41:34", "0", "natalie", "0", "2")
               +ark-blocks-table-item("345678889999", "151456", "2017/07/09 17:41:34", "0", "natalie", "0", "2")
               +ark-blocks-table-item("345678889999", "151456", "2017/07/09 17:41:34", "0", "natalie", "0", "2")
               +ark-blocks-table-item("345678889999", "151456", "2017/07/09 17:41:34", "0", "natalie", "0", "2")
               +ark-blocks-table-item("345678889999", "151456", "2017/07/09 17:41:34", "0", "natalie", "0", "2")
               +ark-blocks-table-item("345678889999", "151456", "2017/07/09 17:41:34", "0", "natalie", "0", "2")
               +ark-blocks-table-item("345678889999", "151456", "2017/07/09 17:41:34", "0", "natalie", "0", "2")
               +ark-blocks-table-item("345678889999", "151456", "2017/07/09 17:41:34", "0", "natalie", "0", "2")

          .ark-shadowbtn-wrap
            button.ark-shadow-btn(type="button") See All Blocks
            .ark-shadowfor-btn
    include modules/footer.jade
