jade/index.jade
doctype
html(lang='en')
  head
    title Ark
    meta(charset='utf-8' name="viewport" content="width=device-width; initial-scale=1.0, user-scalable=no")
    link(rel="stylesheet", href="css/main.min.css" media)
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato")
  body
    include mixins/mixins.jade
    .ark-wrap
      include modules/header.jade
      .ark-graph-wrap
        .ark-section-title Litecoin index
        .ark-graph-index 0.616623400
          span.ark-index-increase (-0.61%)
        .ark-graph-box
          img(src="images/chart.png")
          .ark-tooltip
            .ark-tooltip-title Monday
            ul.ark-tooltip-data
              li 12142353345346 BTC
    section.small-offset
      .ark-wrap
        .ark-section-title Delegate Monitor
        ul.ark-delegate-monitor
          +add-delegates-list-item("orange-gradient", "Delegates", "0", "", "0 active delegates", "0 active on standby")
          +add-delegates-list-item("cyan-gradient", "Delegates", "N/A", "", "0 active delegates", "0 active on standby")
          +add-delegates-list-item("green-gradient", "Next Forgeres", "", "Waiting for next forgers", "", "", "uk")
          +add-delegates-list-item("magenta-gradient", "Total Forged(ARK)", "0", "", "between 0 active delegates")
          +add-delegates-list-item("darkblue-gradient", "Best Foger", "N/A", "", "0 ARK forged", "since registration")
          +add-delegates-list-item("blue-gradient", "Best Productivity", "0%", "", "by N/A")
          +add-delegates-list-item("pink-gradient", "Worst Productivity", "0%", "", "by N/A")
        .ark-wrap
          .ark-section-title Latest Votes
          .ark-latest-votes.ark-flex.ark-flex-between
            .ark-col.ark-col-6
              table.ark-table.ark-table-bordered
                thead
                  tr
                    th Voter
                    th Transaction
                    th Time
                    th.ark-loader
                      img(src="images/ajax-loader.gif")
                  tr
                    th
                    th
                    th
                    th
                tbody
                    tr
                      td 104.131.128.207
                      td 401
                      td
                      td
            .ark-col.ark-col-6
              table.ark-table.ark-table-bordered
                thead
                  tr
                    th Voter
                    th Transaction
                    th Time
                    th.ark-loader
                      img(src="images/ajax-loader.gif")

          .ark-section-title Delegates To Show
          .ark-tab-header
            .ark-tab-header-item.ark-large-btn.active(data-tab-link="#active-delegates") Active Delegates
            .ark-tab-header-item.ark-large-btn(data-tab-link="#standly-delegates") Standly Delegates

          .ark-tab-body
            .ark-tab-item.active#active-delegates
              ul.ark-delegates-statistics.ark-flex.ark-flex-between
                +ark-delegates-statistics-item("Forget Block recently", "0", "Lorem ipsum lorem ipsum")
                +ark-delegates-statistics-item("Missed Block recently", "0", "Lorem ipsum lorem ipsum")
                +ark-delegates-statistics-item("Not Forging", "0", "Lorem ipsum lorem ipsum")
                +ark-delegates-statistics-item("In Queve For Forging", "0", "Lorem ipsum lorem ipsum")

            .ark-tab-item#standly-delegates
              ul.ark-delegates-statistics.ark-flex.ark-flex-between
                +ark-delegates-statistics-item("Forget Block recently", "3", " Lipsum")
                +ark-delegates-statistics-item("Missed Block recently", "0", "Lorem ipsum lorem ipsum")
                +ark-delegates-statistics-item("Not Forging", "0", "Lorem ipsum lorem ipsum")
                +ark-delegates-statistics-item("In Queve For Forging", "2", "Lorem ipsum lorem ipsum")
          table.ark-table
            thead
              tr
                th Rank
                th Name
                th Address
                th Forged
                th Forging time
                th Status
                th Productivity
                th Approval
            tbody
              +ark-delegates-table-item("1", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("2", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "pending", "99.76%", "1.48%")
              +ark-delegates-table-item("3", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "noactive", "99.76%", "1.48%")
              +ark-delegates-table-item("4", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("5", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("6", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("7", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "pending", "99.76%", "1.48%")
              +ark-delegates-table-item("8", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("9", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "noactive", "99.76%", "1.48%")
              +ark-delegates-table-item("10", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "pending", "99.76%", "1.48%")
              +ark-delegates-table-item("11", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("12", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("13", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "pending", "99.76%", "1.48%")
              +ark-delegates-table-item("14", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "noactive", "99.76%", "1.48%")
              +ark-delegates-table-item("15", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("16", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("17", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("18", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "pending", "99.76%", "1.48%")
              +ark-delegates-table-item("19", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("20", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "noactive", "99.76%", "1.48%")
              +ark-delegates-table-item("21", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "pending", "99.76%", "1.48%")
              +ark-delegates-table-item("22", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("23", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("24", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "pending", "99.76%", "1.48%")
              +ark-delegates-table-item("25", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "noactive", "99.76%", "1.48%")
              +ark-delegates-table-item("26", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("27", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("28", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("29", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "pending", "99.76%", "1.48%")
              +ark-delegates-table-item("30", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("31", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "noactive", "99.76%", "1.48%")
              +ark-delegates-table-item("32", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "pending", "99.76%", "1.48%")
              +ark-delegates-table-item("33", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("34", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("35", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "pending", "99.76%", "1.48%")
              +ark-delegates-table-item("36", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "noactive", "99.76%", "1.48%")
              +ark-delegates-table-item("37", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("38", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("39", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("40", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "pending", "99.76%", "1.48%")
              +ark-delegates-table-item("41", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("42", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "noactive", "99.76%", "1.48%")
              +ark-delegates-table-item("43", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "pending", "99.76%", "1.48%")
              +ark-delegates-table-item("44", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("45", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("46", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "pending", "99.76%", "1.48%")
              +ark-delegates-table-item("47", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "noactive", "99.76%", "1.48%")
              +ark-delegates-table-item("48", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("49", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("50", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "active", "99.76%", "1.48%")
              +ark-delegates-table-item("51", "seatrips", "AGHJJJK889809JKIOJIOJJLJLOJO", "59,184.2ARK", "4 min 8 sec", "pending", "99.76%", "1.48%")

          .ark-shadowbtn-wrap
            button.ark-shadow-btn(type="button") Load more
            .ark-shadowfor-btn
    include modules/footer.jade

app/index.html
<!DOCTYPE html><html lang="en"><head><title>Ark</title><meta charset="utf-8" name="viewport" content="width=device-width; initial-scale=1.0, user-scalable=no"><link rel="stylesheet" href="css/main.min.css" media><link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato"></head><body><div class="ark-wrap"><header><a href="#" class="ark-logo"></a><div class="ark-header-items ark-flex-center"><div class="ark-search-wrap"><input type="search" placeholder="Find a block, transaction..." class="ark-text-field ark-search-field"><button type="submit" class="ark-search-btn"></button></div><nav class="ark-flex-center"><ul><li class="ark-menu-item"><div href="#" class="ark-dropdown-link"><span class="ark-selected-val">ARK</span></div><ul class="ark-dropdown"><li><a href="#">ARK</a></li><li><a href="#">BTC</a></li><li><a href="#">EUR</a></li><li><a href="#">PLN</a></li><li><a href="#">USD</a></li></ul></li><li class="ark-menu-item"><div href="#" class="ark-dropdown-link">Tools</div><ul class="ark-dropdown"><li><a href="#">Activity Graph</a></li><li><a href="#">Delegate Monitor</a></li><li><a href="#">Network Monitor</a></li><li><a href="#">Snapshots</a></li></ul></li></ul></nav></div><div class="ark-menu-btn"></div></header><div class="ark-header-data ark-flex-center"><div class="ark-data-item"><span class="ark-item-index"><span class="ark-index-title"> Height:</span><span class="ark-index-data">2315245</span></span><span class="ark-item-index"><span class="ark-index-title"> Nethash:</span><span class="ark-index-data">2315245</span></span></div><div class="ark-data-item"><span class="ark-item-index"><span class="ark-index-title"> Supply:</span><span class="ark-index-data">123,234,234</span></span><span class="ark-item-index"><span class="ark-index-title"> ARK/BTC:</span><span class="ark-index-data">0.0002434</span></span></div><div class="ark-data-item"><span class="ark-item-index"><span class="ark-index-title"> ARK/USD:</span><span class="ark-index-data">1.2423</span></span></div></div><div class="ark-graph-wrap"><div class="ark-section-title">Litecoin index</div><div class="ark-graph-index">0.616623400<span class="ark-index-increase">(-0.61%)</span></div><div class="ark-graph-box"><img src="images/chart.png"><div class="ark-tooltip"><div class="ark-tooltip-title">Monday</div><ul class="ark-tooltip-data"><li>12142353345346 BTC</li></ul></div></div></div></div><section class="small-offset"><div class="ark-wrap"><div class="ark-section-title">Delegate Monitor</div><ul class="ark-delegate-monitor"><li><div class="ark-title">Delegates</div><div class="ark-count">0</div><div class="ark-message"></div><div class="ark-info-item">0 active delegates</div><div class="ark-info-item">0 active on standby</div><div class="ark-gradient-border orange-gradient"></div></li><li><div class="ark-title">Delegates</div><div class="ark-count">N/A</div><div class="ark-message"></div><div class="ark-info-item">0 active delegates</div><div class="ark-info-item">0 active on standby</div><div class="ark-gradient-border cyan-gradient"></div></li><li><div class="ark-title">Next Forgeres</div><div class="ark-count"></div><div class="ark-message">Waiting for next forgers</div><div class="ark-info-item"></div><div class="ark-info-item"></div><div class="ark-gradient-border green-gradient"></div></li><li><div class="ark-title">Total Forged(ARK)</div><div class="ark-count">0</div><div class="ark-message"></div><div class="ark-info-item">between 0 active delegates</div><div class="ark-info-item"></div><div class="ark-gradient-border magenta-gradient"></div></li><li><div class="ark-title">Best Foger</div><div class="ark-count">N/A</div><div class="ark-message"></div><div class="ark-info-item">0 ARK forged</div><div class="ark-info-item">since registration</div><div class="ark-gradient-border darkblue-gradient"></div></li><li><div class="ark-title">Best Productivity</div><div class="ark-count">0%</div><div class="ark-message"></div><div class="ark-info-item">by N/A</div><div class="ark-info-item"></div><div class="ark-gradient-border blue-gradient"></div></li><li><div class="ark-title">Worst Productivity</div><div class="ark-count">0%</div><div class="ark-message"></div><div class="ark-info-item">by N/A</div><div class="ark-info-item"></div><div class="ark-gradient-border pink-gradient"></div></li></ul><div class="ark-wrap"><div class="ark-section-title">Latest Votes</div><div class="ark-latest-votes ark-flex ark-flex-between"><div class="ark-col ark-col-6"><table class="ark-table ark-table-bordered"><thead><tr><th>Voter</th><th>Transaction</th><th>Time</th><th class="ark-loader"><img src="images/ajax-loader.gif"></th></tr><tr><th></th><th></th><th></th><th></th></tr></thead><tbody><tr><td>104.131.128.207</td><td>401</td><td></td><td></td></tr></tbody></table></div><div class="ark-col ark-col-6"><table class="ark-table ark-table-bordered"><thead><tr><th>Voter</th><th>Transaction</th><th>Time</th><th class="ark-loader"><img src="images/ajax-loader.gif"></th></tr></thead></table></div></div><div class="ark-section-title">Delegates To Show</div><div class="ark-tab-header"><div data-tab-link="#active-delegates" class="ark-tab-header-item ark-large-btn active">Active Delegates</div><div data-tab-link="#standly-delegates" class="ark-tab-header-item ark-large-btn">Standly Delegates</div></div><div class="ark-tab-body"><div id="active-delegates" class="ark-tab-item active"><ul class="ark-delegates-statistics ark-flex ark-flex-between"><li><span class="ark-title">Forget Block recently</span><span class="ark-faq">?</span><div class="ark-count">0</div></li><li><span class="ark-title">Missed Block recently</span><span class="ark-faq">?</span><div class="ark-count">0</div></li><li><span class="ark-title">Not Forging</span><span class="ark-faq">?</span><div class="ark-count">0</div></li><li><span class="ark-title">In Queve For Forging</span><span class="ark-faq">?</span><div class="ark-count">0</div></li></ul></div><div id="standly-delegates" class="ark-tab-item"><ul class="ark-delegates-statistics ark-flex ark-flex-between"><li><span class="ark-title">Forget Block recently</span><span class="ark-faq">?</span><div class="ark-count">3</div></li><li><span class="ark-title">Missed Block recently</span><span class="ark-faq">?</span><div class="ark-count">0</div></li><li><span class="ark-title">Not Forging</span><span class="ark-faq">?</span><div class="ark-count">0</div></li><li><span class="ark-title">In Queve For Forging</span><span class="ark-faq">?</span><div class="ark-count">2</div></li></ul></div></div><table class="ark-table"><thead><tr><th>Rank</th><th>Name</th><th>Address</th><th>Forged</th><th>Forging time</th><th>Status</th><th>Productivity</th><th>Approval</th></tr></thead><tbody><tr><td>1</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator active"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>2</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator pending"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>3</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator noactive"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>4</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator active"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>5</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator active"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>6</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator active"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>7</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator pending"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>8</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator active"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>9</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator noactive"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>10</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator pending"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>11</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator active"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>12</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator active"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>13</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator pending"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>14</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator noactive"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>15</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator active"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>16</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator active"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>17</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator active"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>18</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator pending"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>19</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator active"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>20</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator noactive"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>21</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator pending"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>22</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator active"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>23</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator active"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>24</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator pending"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>25</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator noactive"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>26</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator active"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>27</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator active"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>28</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator active"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>29</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator pending"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>30</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator active"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>31</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator noactive"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>32</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator pending"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>33</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator active"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>34</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator active"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>35</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator pending"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>36</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator noactive"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>37</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator active"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>38</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator active"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>39</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator active"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>40</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator pending"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>41</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator active"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>42</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator noactive"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>43</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator pending"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>44</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator active"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>45</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator active"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>46</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator pending"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>47</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator noactive"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>48</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator active"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>49</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator active"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>50</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator active"></span></td><td>99.76%</td><td>1.48%</td></tr><tr><td>51</td><td>seatrips</td><td>AGHJJJK889809JKIOJIOJJLJLOJO</td><td>59,184.2ARK</td><td>4 min 8 sec</td><td><span class="ark-status-indicator pending"></span></td><td>99.76%</td><td>1.48%</td></tr></tbody></table><div class="ark-shadowbtn-wrap"><button type="button" class="ark-shadow-btn">Load more</button><div class="ark-shadowfor-btn"></div></div></div></div></section><footer><div class="ark-wrap"><div class="ark-flex ark-flex-between"><div class="ark-copyright">@ ark.io | 2017. All rights reserved</div><ul class="ark-social"><li class="fb"><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a></li><li class="tw"><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li><li class="bt"><a href="#"><i aria-hidden="true" class="fa fa-bitcoin"></i></a></li><li class="sl"><a href="#"><i aria-hidden="true" class="fa fa-slack"></i></a></li></ul></div></div></footer><div class="ark-scroll-top"><script src="js/jquery-3.2.1.min.js"></script><script src="js/app.js"></script><script src="https://use.fontawesome.com/a8b73a9922.js"></script></div></body></html>
