jade/network.jade
doctype
html(lang='en')
  head
    title Ark
    meta(charset='utf-8' name="viewport" content="width=device-width; initial-scale=1.0, user-scalable=no")
    link(rel="stylesheet", href="css/main.min.css" media)
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato")
  body
    include mixins/mixins.jade
    .ark-wrap
      include modules/header.jade
        .ark-wrap
          .ark-section-title Network Monitor
        .ark-map
        .ark-wrap
          .ark-network-monitor
            +add-network-list-item("images/border.png", "Connected Peers", "1239", "4670", "1 disconnected peers")
            +add-network-list-item("images/border.png", "Last Block", "4959596940694506476579", "", "0 ARK from 0 transactions a few seconds ago")
            +add-network-list-item("images/border.png", "Best Block", "4959596940694506476579", "", "0 ARK from 0 transactions a few seconds ago")
            +add-network-list-item("images/border.png", "Volume  (ARK)", "1,495,9596940694506476579", "", "transferred within 19 hours from 1122 transactions in 564/8640 blocks")
          .ark-section-title.ark-center-text Platforms
            ul.ark-platforms
              li
                img(src="images/border.png")
              li
                img(src="images/border.png")
              li
                img(src="images/border.png")

        section
          .ark-wrap
            .ark-statistics
              .ark-statistics-item
                .ark-statistics-item-title Version
                .ark-statistics-item-wrap
                  .ark-statistics-item-data
                    .ark-statistics-item-numb 18934734
                    .ark-statistics-item-percents 28 72%
                  .ark-statistics-item-data
                    .ark-statistics-item-numb 18934734
                    .ark-statistics-item-percents 28 72%
                .ark-statistics-item-title Best Heights
                .ark-statistics-item-wrap
                  .ark-statistics-item-data
                    .ark-statistics-item-numb.increase 18934734
                    .ark-statistics-item-percents 28 72%
                  .ark-statistics-item-data
                    .ark-statistics-item-numb 18934734
                    .ark-statistics-item-percents 28 72%
                  .ark-statistics-item-data
                    .ark-statistics-item-numb 18934734
                    .ark-statistics-item-percents 28 72%

            .ark-tab-header
              .ark-tab-header-item
                img(src="images/border.png")
                span Connected Peers(39)
              .ark-tab-header-item
                img(src="images/border.png")
                span Disconnected Peers

            table.ark-table
              thead
                tr
                  th ID Address
                  th Port
                  th Hostname
                  th Country
                  th Status
                  th Version
                  th Platform
                  th Height
              tbody
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")
                 +ark-delegates-table-item("104.131.128.207", "401", "401", "images/border.png", "401", "401", "images/border.png", "401")

            button.ark-shadow-btn(type="button") Load more
    .ark-wrap
      include modules/footer.jade

app/network.html
<!DOCTYPE html><html lang="en"><head><title>Ark</title><meta charset="utf-8" name="viewport" content="width=device-width; initial-scale=1.0, user-scalable=no"><link rel="stylesheet" href="css/main.min.css" media><link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato"></head><body><div class="ark-wrap"><header><a href="#" class="ark-logo"></a><div class="ark-header-items ark-flex-center"><div class="ark-search-wrap"><input type="search" placeholder="Find a block, transaction..." class="ark-text-field ark-search-field"><button type="submit" class="ark-search-btn"></button></div><nav class="ark-flex-center"><ul><li class="ark-menu-item"><div href="#" class="ark-dropdown-link"><span class="ark-selected-val">ARK</span></div><ul class="ark-dropdown"><li><a href="#">ARK</a></li><li><a href="#">BTC</a></li><li><a href="#">EUR</a></li><li><a href="#">PLN</a></li><li><a href="#">USD</a></li></ul></li><li class="ark-menu-item"><div href="#" class="ark-dropdown-link">Tools</div><ul class="ark-dropdown"><li><a href="#">Activity Graph</a></li><li><a href="#">Delegate Monitor</a></li><li><a href="#">Network Monitor</a></li><li><a href="#">Snapshots</a></li></ul></li></ul></nav></div><div class="ark-menu-btn"></div></header><div class="ark-header-data ark-flex-center"><div class="ark-data-item"><span class="ark-item-index"><span class="ark-index-title"> Height:</span><span class="ark-index-data">2315245</span></span><span class="ark-item-index"><span class="ark-index-title"> Nethash:</span><span class="ark-index-data">2315245</span></span></div><div class="ark-data-item"><span class="ark-item-index"><span class="ark-index-title"> Supply:</span><span class="ark-index-data">123,234,234</span></span><span class="ark-item-index"><span class="ark-index-title"> ARK/BTC:</span><span class="ark-index-data">0.0002434</span></span></div><div class="ark-data-item"><span class="ark-item-index"><span class="ark-index-title"> ARK/USD:</span><span class="ark-index-data">1.2423<div class="ark-wrap"><div class="ark-section-title">Network Monitor</div></div><div class="ark-map"></div><div class="ark-wrap"><div class="ark-network-monitor"><img src="images/images/border.png.png" class="icon"><div class="title">Connected Peers</div><div class="data"><span class="darktext">1239</span><span>4670</span></div><div class="description">1 disconnected peers</div><img src="images/images/border.png.png" class="icon"><div class="title">Last Block</div><div class="data"><span class="darktext">4959596940694506476579</span><span></span></div><div class="description">0 ARK from 0 transactions a few seconds ago</div><img src="images/images/border.png.png" class="icon"><div class="title">Best Block</div><div class="data"><span class="darktext">4959596940694506476579</span><span></span></div><div class="description">0 ARK from 0 transactions a few seconds ago</div><img src="images/images/border.png.png" class="icon"><div class="title">Volume  (ARK)</div><div class="data"><span class="darktext">1,495,9596940694506476579</span><span></span></div><div class="description">transferred within 19 hours from 1122 transactions in 564/8640 blocks</div></div><div class="ark-section-title ark-center-text">Platforms<ul class="ark-platforms"><li><img src="images/border.png"></li><li><img src="images/border.png"></li><li><img src="images/border.png"></li></ul></div></div><section><div class="ark-wrap"><div class="ark-statistics"><div class="ark-statistics-item"><div class="ark-statistics-item-title">Version</div><div class="ark-statistics-item-wrap"><div class="ark-statistics-item-data"><div class="ark-statistics-item-numb">18934734</div><div class="ark-statistics-item-percents">28 72%</div></div><div class="ark-statistics-item-data"><div class="ark-statistics-item-numb">18934734</div><div class="ark-statistics-item-percents">28 72%</div></div></div><div class="ark-statistics-item-title">Best Heights</div><div class="ark-statistics-item-wrap"><div class="ark-statistics-item-data"><div class="ark-statistics-item-numb increase">18934734</div><div class="ark-statistics-item-percents">28 72%</div></div><div class="ark-statistics-item-data"><div class="ark-statistics-item-numb">18934734</div><div class="ark-statistics-item-percents">28 72%</div></div><div class="ark-statistics-item-data"><div class="ark-statistics-item-numb">18934734</div><div class="ark-statistics-item-percents">28 72%</div></div></div></div></div><div class="ark-tab-header"><div class="ark-tab-header-item"><img src="images/border.png"><span>Connected Peers(39)</span></div><div class="ark-tab-header-item"><img src="images/border.png"><span>Disconnected Peers</span></div></div><table class="ark-table"><thead><tr><th>ID Address</th><th>Port</th><th>Hostname</th><th>Country</th><th>Status</th><th>Version</th><th>Platform</th><th>Height</th></tr></thead><tbody><tr><td>104.131.128.207</td><td>401</td><td>401</td><td>images/border.png</td><td>401</td><td><span class="ark-status-indicator 401"></span></td><td>images/border.png</td><td>401</td></tr><tr><td>104.131.128.207</td><td>401</td><td>401</td><td>images/border.png</td><td>401</td><td><span class="ark-status-indicator 401"></span></td><td>images/border.png</td><td>401</td></tr><tr><td>104.131.128.207</td><td>401</td><td>401</td><td>images/border.png</td><td>401</td><td><span class="ark-status-indicator 401"></span></td><td>images/border.png</td><td>401</td></tr><tr><td>104.131.128.207</td><td>401</td><td>401</td><td>images/border.png</td><td>401</td><td><span class="ark-status-indicator 401"></span></td><td>images/border.png</td><td>401</td></tr><tr><td>104.131.128.207</td><td>401</td><td>401</td><td>images/border.png</td><td>401</td><td><span class="ark-status-indicator 401"></span></td><td>images/border.png</td><td>401</td></tr><tr><td>104.131.128.207</td><td>401</td><td>401</td><td>images/border.png</td><td>401</td><td><span class="ark-status-indicator 401"></span></td><td>images/border.png</td><td>401</td></tr><tr><td>104.131.128.207</td><td>401</td><td>401</td><td>images/border.png</td><td>401</td><td><span class="ark-status-indicator 401"></span></td><td>images/border.png</td><td>401</td></tr><tr><td>104.131.128.207</td><td>401</td><td>401</td><td>images/border.png</td><td>401</td><td><span class="ark-status-indicator 401"></span></td><td>images/border.png</td><td>401</td></tr><tr><td>104.131.128.207</td><td>401</td><td>401</td><td>images/border.png</td><td>401</td><td><span class="ark-status-indicator 401"></span></td><td>images/border.png</td><td>401</td></tr><tr><td>104.131.128.207</td><td>401</td><td>401</td><td>images/border.png</td><td>401</td><td><span class="ark-status-indicator 401"></span></td><td>images/border.png</td><td>401</td></tr><tr><td>104.131.128.207</td><td>401</td><td>401</td><td>images/border.png</td><td>401</td><td><span class="ark-status-indicator 401"></span></td><td>images/border.png</td><td>401</td></tr><tr><td>104.131.128.207</td><td>401</td><td>401</td><td>images/border.png</td><td>401</td><td><span class="ark-status-indicator 401"></span></td><td>images/border.png</td><td>401</td></tr><tr><td>104.131.128.207</td><td>401</td><td>401</td><td>images/border.png</td><td>401</td><td><span class="ark-status-indicator 401"></span></td><td>images/border.png</td><td>401</td></tr><tr><td>104.131.128.207</td><td>401</td><td>401</td><td>images/border.png</td><td>401</td><td><span class="ark-status-indicator 401"></span></td><td>images/border.png</td><td>401</td></tr><tr><td>104.131.128.207</td><td>401</td><td>401</td><td>images/border.png</td><td>401</td><td><span class="ark-status-indicator 401"></span></td><td>images/border.png</td><td>401</td></tr><tr><td>104.131.128.207</td><td>401</td><td>401</td><td>images/border.png</td><td>401</td><td><span class="ark-status-indicator 401"></span></td><td>images/border.png</td><td>401</td></tr><tr><td>104.131.128.207</td><td>401</td><td>401</td><td>images/border.png</td><td>401</td><td><span class="ark-status-indicator 401"></span></td><td>images/border.png</td><td>401</td></tr><tr><td>104.131.128.207</td><td>401</td><td>401</td><td>images/border.png</td><td>401</td><td><span class="ark-status-indicator 401"></span></td><td>images/border.png</td><td>401</td></tr><tr><td>104.131.128.207</td><td>401</td><td>401</td><td>images/border.png</td><td>401</td><td><span class="ark-status-indicator 401"></span></td><td>images/border.png</td><td>401</td></tr><tr><td>104.131.128.207</td><td>401</td><td>401</td><td>images/border.png</td><td>401</td><td><span class="ark-status-indicator 401"></span></td><td>images/border.png</td><td>401</td></tr><tr><td>104.131.128.207</td><td>401</td><td>401</td><td>images/border.png</td><td>401</td><td><span class="ark-status-indicator 401"></span></td><td>images/border.png</td><td>401</td></tr></tbody></table><button type="button" class="ark-shadow-btn">Load more</button></div></section></span></span></div></div></div><div class="ark-wrap"><footer><div class="ark-wrap"><div class="ark-flex ark-flex-between"><div class="ark-copyright">@ ark.io | 2017. All rights reserved</div><ul class="ark-social"><li class="fb"><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a></li><li class="tw"><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li><li class="bt"><a href="#"><i aria-hidden="true" class="fa fa-bitcoin"></i></a></li><li class="sl"><a href="#"><i aria-hidden="true" class="fa fa-slack"></i></a></li></ul></div></div></footer><div class="ark-scroll-top"><script src="js/jquery-3.2.1.min.js"></script><script src="js/app.js"></script><script src="https://use.fontawesome.com/a8b73a9922.js"></script></div></div></body></html>
